html{
    background-color: black;
}

#title{
    color: white;
    font-size: 300%;
    text-align: center;
}

#actor-list{
    background-color: white;
    padding: 2rem 8rem;
}
#actor-list li{
    display: inline-table;
    width: 6rem;
    margin: 1rem;
    background-color:black;
    text-align: center;
    color: white;
    font-size: 150%;
}
#actor-list li img{
    width: 12rem;
    height: 16rem;
    background-color: blue;
}
#actor-button{
    text-align: center;
    margin: 1rem 45%;
    height: 2rem;
    width: 8rem;
}
#movie-search{
    text-align: center;
    margin: 0 40%;
    height: 2rem;
    width: 16rem;
}